.test-result-page {
  .analysts {
    background: #e7dfea;

    .p-title {
      color: #88619a;
    }
  }

  .diplomats {
    background: #d6ece3;

    .p-title {
      color: #33a474;
    }
  }

  .sentinels {
    background: #d9eaf0;

    .p-title {
      color: #4298b4;
    }
  }

  .explorers {
    background: #f9eed7;

    .p-title {
      color: #e4ae3a;
    }
  }
}